.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline
}

align-middle {
  vertical-align: middle;
}
